body{
    background-color: #1f1f24;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    font-size: 100px;
    letter-spacing: 5px;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    width: 100%;
}

#game{
    background-color: rgba(121, 121, 121, 0.507);
    border-radius: 5px;
    float: left;
    min-height: 70vh;
    position: relative;
    margin-left: 26%;
    width: 45%;
}

#button{
    background-color: #1f1f24;
    border: 0;
    border-radius: 10px;
    color: white;   
    font-size: 35px;
    height: 13vh;
    left: 50%;
    letter-spacing: 3px;
    margin: 0;
    position: absolute;
    top: 49%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
}

#button:hover{
    background-color: rgb(15, 15, 15);
    cursor: pointer;
}

.tiles{
    background-color:rgb(211, 211, 211);
    border: 1px solid #000;
    cursor: pointer;
    float: left;
    min-height: 24vh;
    width: 33%;
}

.img{
    height: 20vh;
    margin-bottom: -5%;
    margin-left: 4%;
    margin-top: 1%;
    width: 90%;
}

.panel{
    background-color: rgb(211, 211, 211);
    float: left;
    min-height: 72.5vh;
    width: 18%;
}

.turn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    min-height: 30vh;
    width: 100%;
}

.textTurn{
    font-size: 48px;
    letter-spacing: 4px;
    margin-bottom: 5%;
    text-align: center;
    width: 100%;
}

.score{
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    min-height: 13vh;
    text-align: center;
    width: 90%;
}

.buttonReset{
    background-color: #989899;
    color: white;
    cursor: pointer;
    font-size: 48px;
    margin-left: 10%;
    min-height: 9vh;
    text-align: center;
    width: 80%;
}

.result{
    font-size: 48px;
    margin-top: 4%;
    text-align: center;
}